<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   config.plist
   SpoonBox

   Created by Jaime Molina Orbe on 3/31/16.
   Copyright (c) 2016 jasmo2. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>GoogleMapsKey</key>
        <string>AIzaSyB68ES66ErNB4akW3xgO-3hghhJHZR7rQM</string>
    </dict>
</plist>
